body {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    background-color:#F0F5D5;
    background-image: url('../media/main-background.jpg');
    background-size: cover;
    background-position: top;
    height:880px;
}
header{
    background-color: #24231F;
    color: #D3CEC8;
    width:1500px;
    height: 15%;
    margin-left:-10px;
    margin-top: -10px;
    margin-right:-10px;
}
footer{
    background-color: #24231F;
    color: #D3CEC8;
    width:1500px;
    height: 10%;
    margin-left:-10px;
    margin-bottom: -60px;
    margin-right:-10px;
} 
article{
    display: flex;
    flex-direction:row;
    min-height:100%; 
    flex-wrap:wrap; 
    justify-content:space-between;
    opacity: .8;
}
section{
    flex:1;
    padding-left: 4%;
    min-width:80%;
    max-width:100%;
    height:550px;
}
div{
    padding: none;
    margin: none;
}
h1{
    font-family: Arial, sans-serif;
    padding-left:2%;
    font-size: 2em;
    color: #D3CEC8;
    text-shadow:3px;
    text-align: left;
}
h2{
    font-family: Arial, sans-serif;
    text-align: center;
    color:#24231F;
    font-size: 1.5em;
    text-shadow:1px;
    width:97%;
    background-color:#D3CEC8;
    padding: 1px;
    border-radius: 2px;
}
.tab{
    overflow: hidden;
    border: none;
    padding: none;
    margin: none;
}
.tab button{
    font-size: .85em;
    float: left;
    border: 1px solid;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    outline: none;
    cursor: pointer;
    width: 15%;
    height: 48px;
}
.tabcontent{
    display: none;
    width: 97%;
    border: 1px solid;
    border-top: none;
    margin-top:-30px;
}
#Game1, #G1{
    background-color: #4B4337;
    display: block;
}
#Game2, #G2{
    background-color: #728389;
}
#Game3, #G3{
    background-color: #988874;
}
.gameButton{
    background-color: green;
    text-decoration: none;
    text-align: center;
    color:black;
    float:right;
    margin-right:25%;
    padding:4px 10px 4px 10px;
    border-radius: 10px;
}